# Example environment variables for PulseChat server

# Define the server port
PORT=3000
# Database connection string
MONGO_URI=mongodb://localhost:27017
# Environment (development/production)
NODE_ENV=development
# JWT Secret Key
JWT_SECRET=the_jwt_secret_key
# Client URL
CLIENT_URL=http://your_frontend_url.com
# Session Secret Key
SESSION_SECRET=your_session_secret_key
# Resend API Key
RESEND_API_KEY=your_resend_api_key
# Email sender address
EMAIL_FROM=your_email@example.com
EMAIL_FROM_NAME=Your Name
# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_project_cloud_name
CLOUDINARY_API_KEY=874257123456789
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_key

# ARCJET Configuration
# Set to: development | production | test
ARCJET_ENV=development
ARCJET_KEY=your_arcjet_key

# Additional environment variables can be added as needed
