# Example environment variables for PulseChat server

# Define the server port
PORT=3000
# Database connection string
MONGO_URL=mongodb://localhost:27017
# Environment (development/production)
NODE_ENV=development
# JWT Secret Key
JWT_SECRET=the_jwt_secret_key
# Client URL
CLIENT_URL=http://localhost:3000
# Session Secret Key
SESSION_SECRET=your_session_secret_key
